body {
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Increased line height */
    overflow-wrap: break-word; /* Ensures that text will wrap to the next line if it is too long */
}

.title {
    display: flex;
    max-width: 800px; /* Limiting the width of the content */
    margin: 0 auto; /* Centering the content */
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 0;
}

.logo {
    height: 50px;
}

.container {
    max-width: 800px; /* Limiting the width of the content */
    margin: 0 auto; /* Centering the content */
    margin-bottom: 70px;
}

.index {
    background-color: #0c0c0c;
    margin: 0 auto;
    padding: 0;
    line-height: 1;
}

.ascii {
    max-width: 800px; /* Limiting the width of the content */
    margin: 0 auto; /* Centering the content */
    margin-bottom: 70px;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'MyTahoma';
    src: url('src/tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyTahoma';
    src: url('src/tahomabd.ttf') format('truetype');
    font-weight: bold;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('src/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('src/Inconsolata-Black.ttf') format('truetype');
    font-weight: bold;
    font-style:normal;
    font-display: swap;
}

h1 {
    font-family: 'Inconsolata', Monospace;
    padding-left: 70;

    color: white;
    font-weight: bold;
    font-size: 2.5em;
    /* text-decoration-line: underline; */
    display: flex;
    align-items: center;
    margin: 0;
}

h2 {
    font-family: Tahoma, 'MyTahoma', Arial, sans-serif;
    padding-left: 70;
    letter-spacing: 1.5px;

    color: white;
    font-weight: bold;
    font-size: 2.5em; /* PREVIOUSLY 2em */
}

h3 {
    font-family: Tahoma, 'MyTahoma', Arial, sans-serif;
    padding-left: 70;
    letter-spacing: 1.5px;

    color: rgb(146, 146, 146);
    font-size: 1.5em;
}

/* Remove margin-bottom if h2 follows h1 */
h1 + h2 {
    margin-top: -10px; /* Removing the space between h1 and h2 */
    padding-top: 0; /* Remove any additional padding */
}

/* Remove margin-bottom if h3 follows h2 */
h2 + h3 {
    margin-top: -30px; /* Removing the space between h2 and h3 */
    padding-top: 0; /* Remove any additional padding */
}

/* Remove margin-bottom if p follows h3 */
h3 + p {
    margin-top: +20px; /* Removing the space between h2 and h3 */
    padding-top: 0; /* Remove any additional padding */
}

p {
    font-family: 'Inconsolata', Monospace;
    padding-left: 70;

    color: white;
    font-size: 1.25em; /* PREVIOUSLY 1.125em */
    overflow-wrap: break-word; /* Ensures that text will wrap to the next line if it is too long */
}

.nav {
    font-size: 1.25em; /* PREVIOUSLY 1.125em */
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
}

pre {
    color: white;
    font-size: 1.125em;
    font-family:'Inconsolata', Monospace;
}

.ascii pre {
    white-space: pre; /* Preserves all spacing and line breaks exactly as they are */
    margin: 0; /* Removes any default margins */
}

.link-blue {
    color: #008BFF;
}

.link-blue:visited {
    color: #008BFF;
}

.link-blue:hover {
    color: black;
    text-decoration: underline;
    background-color: #008BFF;
}

.link-red {
    color: #FF3738;
}

.link-red:visited {
    color: #FF3738;
}

.link-red:hover {
    color: black;
    text-decoration: underline;
    background-color: #FF3738;
}

.link-green {
    color: #1ABE14;
}

.link-green:visited {
    color: #1ABE14;
}

.link-green:hover {
    color: black;
    text-decoration: underline;
    background-color: #1ABE14;
}

.link-yellow {
    color: #FF9C00;
}

.link-yellow:visited {
    color: #FF9C00;
}

.link-yellow:hover {
    color: black;
    text-decoration: underline;
    background-color: #FF9C00;
}

.link-purple {
    color: #d400ff;
}

.link-purple:visited {
    color: #d400ff;
}

.link-purple:hover {
    color: black;
    text-decoration: underline;
    background-color: #d400ff;
}

.link-secret {
    color: #0c0c0c;
}

.link-secret:visited {
    color: #0c0c0c;
}

.link-secret:hover {
    color: white;
    text-decoration: underline;
    background-color: gray;
}

::selection {
    background: white;
    color: black;
}

::-moz-selection {
    background: white;
    color: black;
}